<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704594050361-p0m5ar379qg92abpcv5dheghvd4gpvp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704594050361-p0m5ar379qg92abpcv5dheghvd4gpvp5</string>
	<key>API_KEY</key>
	<string>AIzaSyClJ59lBp_ihAgUHyVSoTYOKgluTn05kwA</string>
	<key>GCM_SENDER_ID</key>
	<string>704594050361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guillevc.Menugrab</string>
	<key>PROJECT_ID</key>
	<string>menugrab-a5aae</string>
	<key>STORAGE_BUCKET</key>
	<string>menugrab-a5aae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704594050361:ios:9edae740a352320f6b3ce8</string>
</dict>
</plist>